[Desktop Entry]
Version=1.0
Type=Application
Name=AniDownloader C++
Comment=Download e Conversione Anime (C++)
Exec=AniDownloader
Icon=video-x-generic
Terminal=true
Categories=Network;Video;AudioVideo;