[Desktop Entry]
Version=1.0
Type=Application
Name=AniDownloader
Comment=Scarica tutti gli anime in simulcast configurati
Path=/home/lorenzo/Video/Simulcast/.AniDownloader/
Exec=sh -c './AniDownloader.sh'
Icon=/home/lorenzo/Video/Simulcast/.AniDownloader/logo.png
Terminal=true
Categories=Network;