[Unit]
Description=Timer per il servizio downloadAnime, esegue ogni 15 minuti e al risveglio

[Timer]
OnBootSec=5min
OnUnitActiveSec=15min
# Trigger nativi systemd per intercettare il risveglio dalla sospensione (suspend)
OnClockChange=true
OnTimezoneChange=true

[Install]
WantedBy=timers.target